.item_wrap {
    background-color: azure;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    margin: 1em 0;
}

.count_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.count_wrap input {
    width: 20%;
    margin: 0 1em;
    background-color: azure;
    text-align: center;
    display: inline-block;
    border: none;
}

input:focus{
    outline: none;
}

.reset {
    border: 1px solid #d8d5d5;
    border-radius: .2em;
    margin-bottom: 1em;
    padding: .3em;
    background: #fcf9f9;
}

.reset:hover{
        background: #eceaea;
}
